.service {
  background: url('http://39.106.208.234/pic/img_/kefu_tc.png') no-repeat;
  width: 24rem;
  background-size: 100%;
  padding-top: 11.2rem;
  height: calc(100vh - 5rem);
  box-sizing: border-box;
  .service_item {
    font-size: 1.088rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #212121;
    margin-bottom: 0.96rem;
    display: flex;
    justify-content: center;
    .service_item_key {
      color: #212121;
    }
    .service_item_value {
      color: #679fff;
    }
    .service_item_imgs {
      text-align: center;
      margin-top: 3.2rem;
      .service_item_imgs_icon {
        width: 6.816rem;
        height: 6.816rem;
      }
      .service_item_imgs_text {
        font-size: 0.96rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #939393;
        margin-top: 1.056rem;
      }
    }
  }
}
