.icon {
  width: 24rem;
  height: 19.84rem;
}
.btn {
  width: 17.6rem;
  height: 2.88rem;
  background: #1a5df0;
  border-radius: 1.408rem;
  margin: 0 auto;
  margin-top: 2.56rem;
  font-size: 1.088rem;
  font-family: PingFang SC;
  font-weight: 500;
  line-height: 2.88rem;
  text-align: center;
  margin-bottom: 1.856rem;
}
.text {
  font-size: 0.832rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 1;
  text-align: center;
}
