
.van-grid-item__content {
  background: none !important;
}
.van-tabs__line {
  background: #1f73f1 !important;
}
.van-sticky--fixed {
  background: #f6f6f6;
}
.van-tabs__content {
  min-height: 44.8rem;
}
.van-tabs {
  background: #f6f6f6;
}
.van-sidebar-item--select::before {
  background-color: #0078ff !important;
}
.van-tree-select {
  height: calc(100vh - 9.6rem) !important;
}
.van-button__text {
  color: #ffffff;
}
.rightTop {
  position: absolute;
  right: 0.625rem;
  top: 0.375rem;
  text-align: end;
  .rightTop_icon {
    width: 50%;
  }
  .rightTop_text{
    font-size:1rem;
    color: #fff;
    margin-right: 4rem;
    margin-top: .4rem;
  }
}
