.head {
  padding: 0.96rem;
  background: #fff;
  .head_title {
    margin-bottom: 1.28rem;
    display: flex;
    .head_title_icon {
      width: 1.216rem;
      height: 1.216rem;
      border-radius: 0.128rem;
      margin-right: 0.384rem;
    }
    .head_title_text {
      font-size: 0.96rem;
      font-family: PingFang SC;
      font-weight: bold;
      color: #2e2e2e;
    }
  }
  .head_text {
    font-size: .768rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #909090;
  }
}
.price {
  padding: 0.96rem;
  .price_top {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .price_top_key {
      font-size: 0.704rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #2e2e2e;
      line-height: 1;
      margin-right: 0.448rem;
    }
    .price_top_value {
      font-size: 1.408rem;
      font-family: PingFang SC;
      font-weight: bold;
      color: #ff6600;
      line-height: 1;
      margin-right: 0.448rem;
      max-width: 22.4rem;
      word-wrap: break-word;
    }
    .price_top_tag {
      width: 10.304rem;
      height: 1.152rem;
      background: #fe6542;
      border-radius: 0.704rem 0.576rem 0.576rem 0px;
      line-height: 1.152rem;
      text-align: center;
      font-size: 0.704rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
    }
  }
  .price_text {
    margin-top: 0.576rem;
    font-size: 0.64rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #b5b4b4;
    line-height: 1;
  }
}
.info {
  background: #fff;
  margin-bottom: 1.024rem;
  .info_title {
    display: flex;
    align-items: center;
    padding-top: 1.088rem;
    padding-left: 0.96rem;
    .info_title_line {
      width: 0.128rem;
      height: 0.768rem;
      background: #1f73f1;
      margin-right: 0.192rem;
    }
    .info_title_text {
      font-size: 0.896rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #2e2e2e;
      line-height: 1;
    }
  }
  .info_list {
    margin-top: 1.408rem;
    display: flex;
    flex-wrap: wrap;
    .info_list_item {
      width: calc(100% / 4);
      text-align: center;
      margin-bottom: 2.112rem;
      .info_list_item_value {
        font-size: 0.832rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #3b3b3b;
        line-height: 1;
        margin-bottom: 0.96rem;
      }
      .info_list_item_kay {
        font-size: 0.768rem;
        font-family: PingFang SC;
        font-weight: 400;
        color: #a4a4a4;
        line-height: 1;
      }
    }
  }
  .info_imgs {
    margin-top: 1.408rem;
  }
  .info_process {
    display: flex;
    flex-wrap: wrap;
    .info_process_item {
      padding: 0.96rem 0px;
      text-align: center;
      width: calc(100% / 2);
      .info_process_item_icon {
        width: 6.656rem;
        height: 5.248rem;
      }
      .info_process_item_text {
        display: flex;
        align-items: center;
        justify-content: center;
        .info_process_item_text_num {
          width: 0.896rem;
          height: 0.896rem;
          border: 0.064rem solid #1f73f1;
          border-radius: 50%;
          margin-right: 0.192rem;
          font-size: 0.576rem;
          font-family: PingFang SC;
          font-weight: bold;
          color: #1f73f1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .info_process_item_text_title {
          font-size: 0.704rem;
          font-family: PingFang SC;
          font-weight: 500;
          color: #292929;
          line-height: 1;
        }
      }
    }
  }
}
.bottom {
  width: 24rem;
  height: 4.16rem;
  background: #ffffff;
  box-shadow: 0px 0.256rem 1.088rem 0px rgb(95 95 95 / 33%);
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 1.664rem;
  display: flex;
  align-items: center;
  .bottom_icon {
    margin-right: 1.92rem;
    text-align: center;
    .bottom_icon_img {
      width: 1.408rem;
      height: 1.344rem;
    }
    .bottom_icon_text {
      font-size: 0.832rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #8c8c8c;
      line-height: 1;
    }
  }
  .bottom_phone {
    width: 17.984rem;
    height: 2.88rem;
    background: #e4eefd;
    border-radius: 1.408rem;
    font-size: 1.408rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #1f73f1;
    text-align: center;
    line-height: 2.88rem;
  }
}
